$roboto-font-path:    "assets/fonts/roboto/";

//Use for auto-complete
$font-family-roboto: 'Roboto';

$font-style-roboto-normal:    normal;
$font-style-roboto-italic:    italic;

/// @group fontWeight
/// @type Number
/// @author Jerry Orta
$font-weight-roboto-thin:     100;

/// @group fontWeight
/// @type Number
/// @author Jerry Orta
$font-weight-roboto-light:    300;

/// @group fontWeight
/// @type Number
/// @author Jerry Orta
$font-weight-roboto-regular:  400;

/// @group fontWeight
/// @type Number
/// @author Jerry Orta
$font-weight-roboto-medium:   500;

/// @group fontWeight
/// @type Number
/// @author Jerry Orta
$font-weight-roboto-bold:     700;

/// @group fontWeight
/// @type Number
/// @author Jerry Orta
$font-weight-roboto-black:    900;

/// Roboto 100 (Thin)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-thin-normal() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-normal;
  font-weight:  $font-weight-roboto-thin;
}

/// Roboto Italic 100 (Thin)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-thin-italic() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-italic;
  font-weight:  $font-weight-roboto-thin;
}

/// Roboto 300 (Light)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-light-normal() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-normal;
  font-weight:  $font-weight-roboto-light;
}

/// Roboto Bold 300 (Light)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-light-italic() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-italic;
  font-weight:  $font-weight-roboto-light;
}

/// Roboto 400 (Regular)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-regular-normal() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-normal;
  font-weight:  $font-weight-roboto-regular;
}

/// Roboto Italic 400 (Regular)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-regular-italic() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-italic;
  font-weight:  $font-weight-roboto-regular;
}

/// Roboto 500 (Medium)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-medium-normal() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-normal;
  font-weight:  $font-weight-roboto-medium;
}

/// Roboto Italic 500 (Medium)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-medium-italic() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-italic;
  font-weight:  $font-weight-roboto-medium;
}

/// Roboto 700 (Bold)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-bold-normal() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-normal;
  font-weight:  $font-weight-roboto-bold;
}

/// Roboto Italic 700 (Bold)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-bold-italic() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-italic;
  font-weight:  $font-weight-roboto-bold;
}

/// Roboto 900 (Black)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-black-normal() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-normal;
  font-weight:  $font-weight-roboto-black;
}

/// Roboto Italic 900 (Black)
/// @group fontMixins
/// @author Jerry Orta
@mixin font-roboto-black-italic() {
  font-family:  $font-family-roboto;
  font-style:   $font-style-roboto-italic;
  font-weight:  $font-weight-roboto-black;
}
